html {
     background: #000000;
     }
body {
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     }
  .program {
    float: center;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
@font-face {
 font-family: "Monstserrat Bold";
 src: url("https://github.com/tnn-chaik/tnn-chaik.github-io/raw/main/assets/fonts/MontserratBold.ttf") format("ttf");
}
@font-face {
 font-family: "Halvar Breikschrift Black";
 src: url("https://ntizish.github.io/fonts/HalvarBreit-Blk.ttf") format("woff");
}
